body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 100vh;
    justify-items: center;
    align-items: center;
}

.title {
    font-size: 50px;
    font-family: 'Merriweather';
    text-align: center;
}

.subtitle {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


.subtitle-button {
    width: 150px;
    height: 40px;
    background-color: lightslategrey;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    align-items: center;
    color: white;
}